{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.css' %}">
    <style>
        .login_message_box {
            width: 450px;
            border: 1px solid #ccc;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;

            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 30px;
            box-shadow: 5px 10px 10px rgb(0 0 0 / 10%);
        }

        .error-message {
            color: red;
            position: absolute;
        }
    </style>
</head>
<body>
<div class="login_message_box">
    <h2 style="text-align: center">message login</h2>
    <form method="post" novalidate id="smsForm">
        {% csrf_token %}
        <div class="form-group" style="position: relative; margin-bottom: 25px;">
            <label>Role</label>
            {{ forms.role }}
            <span class="error-message">{{ forms.role.errors.0 }}</span>
        </div>
        <div class="form-group" style="position: relative; margin-bottom: 25px;">
            <label>mobile number</label>
            {{ forms.mobile }}
            <span class="error-message">{{ forms.mobile.errors.0 }}</span>
        </div>
        <div class="form-group" style="position: relative; margin-bottom: 25px;">
            <label>code</label>
            <div class="row">
                <div class="col-xs-7">
                    {{ forms.code }}
                    <span class="error-message">{{ forms.code.errors.0 }}</span>
                </div>
                <div class="col-xs-5">
                    <input type="button" value="send code" class="btn btn-default" id="sendCode">
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary" id="loginBtn">login</button>
        <span class="error-message" style="color: red;">{{ error }}</span>
        <a href='{% url 'login' %}' style="float:right;">use account login</a>
    </form>
</div>
</body>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/csrf.js' %}"></script>
<script type="text/javascript">
    var progressTime = 60;

    $(function () {
        bindBtnSendCode();
        bindLogin();
    });

    function bindLogin(){
        $("#loginBtn").click(function () {
            $(".error-message").empty();
            $.ajax({
                url: '{% url 'login_message' %}',
                type: 'POST',
                data: $("#smsForm").serialize(),
                dataType: 'JSON',
                success: function (res) {
                    if (res.status) {
                        location.href = res.data;
                    } else {
                        $.each(res.error, function (k, v) {
                            $("#id_" + k).next().text(v[0]);
                        })
                    }
                }
            });

        });
    }

    function bindBtnSendCode() {
        $("#sendCode").click(function () {
            // clear all errors
            $(".error-message").empty();
            $.ajax({
                url: '{% url 'send_sms' %}',
                type: 'POST',
                data: {
                    mobile: $("#id_mobile").val(),
                    role: $("#id_role").val(),
                },
                dataType: 'JSON',
                success: function (res) {
                    if (res.status) {
                        timer(progressTime);
                    } else {
                        $.each(res.error, function (k, v) {
                            $("#id_" + k).next().text(v[0]);
                        })
                    }
                }
            });
        });
    }

    function timer(timeout) {
        var $smsBtn = $("#sendCode");
        $smsBtn.attr("disabled", true);
        var reminder = setInterval(function(){
            $smsBtn.val('Send again after ' + timeout + "s");
            timeout--;
            if (timeout < 0) {
                clearInterval(reminder);
                $smsBtn.val("send code");
                $smsBtn.attr("disabled", false);
            }
        } , 1000);
    }


</script>
</html>

